.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 18px;
  vertical-align: middle;
  line-height: 18px;
  font-size: 90%; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    content: '';
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7) inset, 0 1px 1px rgba(255, 255, 255, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(0.8); }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  color: #444; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    background-color: #444; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.magic-radio + label:before {
  border-radius: 50%; }

.magic-radio + label:after {
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3e97eb;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2) inset, 0 0.3px 0.1px rgba(255, 255, 255, 0.5) inset, 0 -0.3px 0.1px rgba(0, 0, 0, 0.5) inset;
  transform: scale(0.8); }

.magic-radio:checked[disabled] + label:after {
  background: #888; }

.magic-checkbox + label:before {
  border-radius: 5px; }

.magic-checkbox + label:after {
  top: 3px;
  left: 6px;
  box-sizing: border-box;
  width: 6px;
  height: 10px;
  transform: rotate(45deg);
  box-shadow: -0.6px -0.6px 0.1px #1264b1 inset, -1.7px -1.7px 0.2px #3e97eb inset, -2px -2px 0 #9ac9f5 inset; }

.magic-checkbox:checked[disabled] + label:after {
  box-shadow: -0.6px -0.6px 0.1px #555555 inset, -1.7px -1.7px 0.2px #888 inset, -2px -2px 0 #bbbbbb inset; }
