.magic-checkbox + label {
  &:before {
    border-radius: 5px;
  }
  &:after {
    top: 3px;
    left: 6px;
    box-sizing: border-box;
    width: 6px;
    height: 10px;
    transform: rotate(45deg);
    box-shadow: -.6px -.6px .1px darken($main-color, 20%) inset, -1.7px -1.7px .2px $main-color inset, -2px -2px 0 lighten($main-color, 20%) inset;
  }
}

.magic-checkbox:checked[disabled] + label {
  &:after {
    box-shadow: -.6px -.6px .1px darken($disabled-checked-color, 20%) inset, -1.7px -1.7px .2px $disabled-checked-color inset, -2px -2px 0 lighten($disabled-checked-color, 20%) inset;
  }
}
