
.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none;
}

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 18px;
  vertical-align: middle;
  line-height: 18px;
  font-size: 90%;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: $checkbox-size;
    height: $checkbox-size;
    content: '';
    box-shadow: 0 0 6px rgba(0,0,0,0.7) inset, 0 1px 1px rgba(255, 255, 255, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(.8);
  }
  &:after {
    position: absolute;
    display: none;
    content: '';
  }
}

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  color: $disabled-color;
  &:hover {
    &:before {

    }
  }
  &:before {
    background-color: $disabled-color;
  }
}


.magic-radio:checked + label,
.magic-checkbox:checked + label {
  &:after {
    display: block;
  }
}
